 <?xml version="1.0" encoding="UTF-8"?>
    <plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
            id="info.newforestcicada.audiorecorder" version="0.1.0">
        <name>AudioRecorder</name>
        <description>AudioRecorder Plugin</description>
        <author>New Forest Cicada Project</author>
        <js-module src="www/audioRecorder-plugin.js" name="audioRecorder">
            <clobbers target="audioRecorder" />
        </js-module>
        <platform name="ios">
            <config-file target="config.xml" parent="/*">
                <feature name="AudioRecorder">
                    <param name="ios-package" value="CDVAudioRecorder"/>
                    <param name="onload" value="true"/>
                </feature>
            </config-file>
            <header-file src="src/ios/AudioRecorder.h" />
            <header-file src="src/ios/CDVAudioRecorder.h" />        
            <header-file src="src/ios/GoertzelFilter.h" />
            <header-file src="src/ios/HeterodyneDetector.h" />
            <header-file src="src/ios/HighPassFilter.h" /> 
            <header-file src="src/ios/KalmanFilter.h" />
            <header-file src="src/ios/LowPassFilter.h" />
            <header-file src="src/ios/NSData+MBBase64.h" /> 
            <header-file src="src/ios/RecordingBuffer.h" /> 
            <source-file src="src/ios/AudioRecorder.m" />
            <source-file src="src/ios/CDVAudioRecorder.m" />       
            <source-file src="src/ios/GoertzelFilter.c" />
            <source-file src="src/ios/HeterodyneDetector.c" />
            <source-file src="src/ios/HighPassFilter.c" /> 
            <source-file src="src/ios/KalmanFilter.c" />
            <source-file src="src/ios/LowPassFilter.c" />
            <source-file src="src/ios/NSData+MBBase64.m" /> 
            <source-file src="src/ios/RecordingBuffer.c" /> 
        </platform>
    </plugin>